/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}
.msg-history {
  max-height: 620px;
  overflow: scroll;
  margin-bottom: 15px;
}
